{% extends '::base.html.twig' %}

{% block body %}
<h1>SYMFONY 2 REST API LAB - Ver 2</h1>
<h2>The right way with Service and Repository as service</h2>
<p>Author: Nguyen Nhu Tuan</p>
<p>Email: tuanquynh0508@gmail.com</p>
<p>Tel: +84 0903258221</p>
{% endblock %}